@import "./messages.scss";
@import "./card.css";
@import "./carousel.scss";
@import "./gridBar.css";
@import "./keyboard.css";
@import "./Mathler.css";
@import "./Notification.scss";
@import "StatsModal.scss";
@import "./Podium.css";
@import "Multiplayer.scss";
@import "./Homepage.scss";
@import "./Nav.scss";
@import "./App.css";

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap");

:root {
	/* --bg: #0e0f10; */
	--bg: #292f3f;
	--s-dark: #272a35;
	--s: #373e4e;
	--s-light: #7a8194;
    --font-color: white;
	--pink: #b347ea;
	--purple: #837dff;
	--green: #00ac83;
	--orange: #f18303;
	--primary: #03a9f1;
	--keyboard-key-colour: var(--s-light);
}

* {
	box-sizing: border-box;
}
:focus-visible {
	outline: none;
}

::-webkit-scrollbar {
	width: 1rem;
}
::-webkit-scrollbar-track {
	background-color: transparent;
}
::-webkit-scrollbar-thumb {
	background-color: #d6dee1;
	border-radius: 20px;
	border: 6px solid transparent;
	background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
	background-color: #a8bbbf;
}

body {
	margin: 0;
	font-family: "Nunito", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	background-color: var(--bg);
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

#root {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
}

button {
	background: var(--primary);
	border-radius: 1rem;
	border: none;
	padding: 10px;
	position: relative;
	cursor: pointer;
	white-space: nowrap;
    font-size: 2.5vh;
    color: var(--font-color);
}
