.server-browser {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-start;
	gap: 2.5rem;
	width: 100%;
	max-width: 80%;
	overflow-y: scroll;
}

@media only screen and (max-width: 1000px) {
	.server-browser {
		max-width: 100%;
	}
}

.noRooms {
	display: flex;
	flex-direction: column;
}

.noRooms span {
	min-width: 10vw;
}

.information {
	background-color: var(--bg-s);
	padding: 1.5rem;

	&.card {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		border-radius: 16px;
		// box-shadow: 0 30px 30px -25px rgba(#4133b7, 0.25);
		max-width: 300px;
	}

	#roomCode {
		margin-top: 0;
	}

	.tag {
		display: inline-block;
		background-color: var(--highlight);
		color: var(--headlines);
		font-weight: 600;
		font-size: 0.875rem;
		padding: 0.5em 0.75em;
		line-height: 1;
		border-radius: 6px;
		& + * {
			margin-top: 1rem;
		}
		&.temp {
			background: rgba(255, 255, 255, 0.01);
		}
	}

	.title {
		font-size: 1.5rem;
		color: var(--headlines);
		line-height: 1.25;
	}

	.subtitle {
		font-size: 1.125rem;
		color: var(--body);
		line-height: 1.25;
		& + * {
			margin-top: 1rem;
		}
	}

	.info {
		// userlist
		color: var(--body);
		margin-top: 0.2rem;
	}

	.button {
		background-color: var(--primary);
		color: var(--c-indigo);
		padding: 0.5em 1em;
		border-radius: 6px;
		font-weight: 500;
		display: inline-flex;
		align-items: center;
		justify-content: space-between;
		gap: 0.5rem;
	}

	.details {
		display: flex;
		gap: 1rem;
		div {
			padding: 0.75em 1em;
			// background-color: var(--bg);
			border-radius: 8px;
			display: flex;
			flex-direction: column-reverse;
			align-items: flex-end;
			justify-content: center;
			gap: 0.125em;
			flex-basis: 50%;
		}

		dt {
			// labels
			font-size: 0.875rem;
			color: var(--body);
		}

		dd {
			// values
			color: var(--headlines);
			font-weight: 600;
			font-size: 1.25rem;
			margin: 0;
		}
	}
}

.plan {
	padding: 10px;
	background-color: var(--c-white);
	color: var(--c-del-rio);

	strong {
		font-weight: 600;
		color: var(--c-coffee);
	}

	.inner {
		padding: 20px;
		padding-top: 40px;
		background-color: var(--c-fair-pink);
		border-radius: 12px;
		position: relative;
		overflow: hidden;
	}

	.pricing {
		position: absolute;
		top: 0;
		right: 0;
		background-color: var(--c-apricot);
		border-radius: 99em 0 0 99em;
		display: flex;
		align-items: center;
		padding: 0.625em 0.75em;
		font-size: 1.25rem;
		font-weight: 600;
		color: var(--c-coffee);
		small {
			color: var(--c-del-rio);
			font-size: 0.75em;
			margin-left: 0.25em;
		}
	}

	.title {
		font-weight: 600;
		font-size: 1.25rem;
		color: var(--c-coffee);
		& + * {
			margin-top: 0.75rem;
		}
	}

	.info {
		& + * {
			margin-top: 1rem;
		}
	}

	.features {
		display: flex;
		flex-direction: column;
		li {
			display: flex;
			align-items: center;
			gap: 0.5rem;
			& + * {
				margin-top: 0.75rem;
			}
		}

		.icon {
			background-color: var(--c-java);
			display: inline-flex;
			align-items: center;
			justify-content: center;
			color: var(--c-white);
			border-radius: 50%;
			width: 20px;
			height: 20px;
			svg {
				width: 14px;
				height: 14px;
			}
		}

		& + * {
			margin-top: 1.25rem;
		}
	}

	button {
		font: inherit;
		background-color: var(--c-indigo);
		border-radius: 6px;
		color: var(--c-white);
		font-weight: 500;
		font-size: 1.125rem;
		width: 100%;
		border: 0;
		padding: 1em;
		&:hover,
		&:focus {
			background-color: var(--c-governor);
		}
	}
}
.carousel {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;
	overflow-y: scroll;
	overflow-x: hidden;
}
