.Game-keyboard {
  display: flex;
  flex-direction: column;
  border: 1px solid #20222c;
  box-shadow: inset 0px 5px 5px 0px #20222c, inset 5px 0px 5px 0px #20222c,
    inset -5px 5px 5px 0px #20222c, inset 0px -5px 5px 0px #20222c;
  padding: 1vh;
  border-radius: 12px;
  user-select: none;
}

.Game-keyboard-row {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  gap: .5vw;
  user-select: none;
  touch-action: manipulation;
}

.Game-keyboard-button {
  margin: 2px;
  padding: 2px;
  text-transform: capitalize;
  border-radius: 4px;
  height: 58px;
  width: 45px;
  min-height: 40px;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  cursor: pointer;
  outline: none;
  user-select: none;
  border: 0;
  background: #f2f2f2;
  border-radius: 11px;
  text-decoration: none;
  color: var(--keyboard-key-colour);
  box-shadow: -0.3rem 0.6rem 0.5rem 0px #191c24, 0.4rem -0.2rem 0.1rem #3d3f49;
  transition: box-shadow 399ms ease-in-out;
  -webkit-tap-highlight-color: rgba(0,0,0,0.3);
}

.Game-keyboard-button-wide {
  flex: 1.5;
}

.Game-keyboard-button:focus {
  outline: none;
}

.Game-keyboard-button:active {
  box-shadow: inset 7px 7px 15px rgb(66 66 66 / 15%), inset -7px -7px 20px white,
    0px 0px 4px rgb(255 255 255 / 20%);
}

.letter-correct {
  border-radius: 3vh;
  background: linear-gradient(135deg, #189d7c 0%, #02c39a 100%) padding-box,
    /* this is the background */
      linear-gradient(135deg, #02c39a 0%, #189d7c 100%) border-box !important; /* this is the border*/
  border: 6px solid transparent;
  color: #1d6b55;
}

.letter-elsewhere {
  border-radius: 3vh;
  background: linear-gradient(135deg, #d9b952 0%, #fdd85d 100%) padding-box,
    /* this is the background */
      linear-gradient(135deg, #fdd85d 0%, #d9b952 100%) border-box !important; /* this is the border*/
  border: 6px solid transparent;
  color: #837035;
}

.letter-absent {
  border-radius: 3vh;
  background: linear-gradient(135deg, #2d3047 0%, #48495f 100%) padding-box,
    /* this is the background */
      linear-gradient(135deg, #48495f 0%, #2d3047 100%) border-box !important; /* this is the border*/
  border: 6px solid transparent;
  color: #a3a3ae;
}

.keyboard-letter-correct {
  background: linear-gradient(135deg, #189d7c 0%, #02c39a 100%);
  box-shadow: none;
  color: #1d6b55;
}

.keyboard-letter-elsewhere {
  box-shadow: none;
  background: linear-gradient(135deg, #d9b952 0%, #fdd85d 100%);
  color: #837035;
}

.keyboard-letter-absent {
  box-shadow: none;
  background: linear-gradient(135deg, hsl(233deg 22% 45%) 0%, #48495f 100%);
  color: #a3a3ae;
}

@media only screen and (max-height: 700px) {
  .Game-keyboard{
    border: 0;
    box-shadow: none;
  }
  .Game-keyboard-button {
    box-shadow: none;
  }
}