.lobby-body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 10vh;
}

.lobby {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 2vh;
}

.lobby-title {
	font-size: 3rem;
	font-weight: normal;
	margin: 1rem;
}
