.multiplayer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	height: 90%;
}

.form-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-top: 10px;
}

.input-div {
	margin: 10px !important;
}

.loading-text {
	color: var(--body);
	&:after {
		content: " .";
		animation: dots 1s steps(5, end) infinite;
	}
}
@keyframes dots {
	0%,
	20% {
		color: rgba(0, 0, 0, 0);
		text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
	}
	40% {
		color: var(--body);
		text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
	}
	60% {
		text-shadow: 0.25em 0 0 var(--body), 0.5em 0 0 rgba(0, 0, 0, 0);
	}
	80%,
	100% {
		text-shadow: 0.25em 0 0 var(--body), 0.5em 0 0 var(--body);
	}
}

#serverBrowserHeader {
	font-size: 4vh;
	margin: 0;
}

.join {
	/* margin-top: 10vh; */
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	width: 100%;
	height: auto;
	border-radius: 20px;
	padding: 2rem;
	gap: 3vh;
	overflow: auto;
	padding-bottom: 0;
	overflow-x: hidden;
}

@media only screen and (min-width: 900px) {
	.join {
		width: 90%;
	}
}
@media only screen and (max-height: 610px) {
	.join {
		padding-top: 0;
		align-items: center;
	}
}

.join-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	height: 90%;
	border-radius: 20px;
	gap: 2%;
}

.loginContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 90%;
	gap: 2vh;
}

.changeNameBtn {
	background-color: grey;
}

.add {
	width: fit-content;
}

.search-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}
.search {
	display: flex;
	align-items: center;
	color: black;
}

@media only screen and (max-width: 700px) {
	.search {
		display: none;
	}
}
.search-btn {
	background: #565e70;
	border-radius: 1rem;
	border: none;
	padding: 10px;
	left: -51px;
	position: relative;
	cursor: pointer;
	height: 52px;
	width: 52px;
}
.add-btn {
	position: relative;
	white-space: nowrap;
	/* height: 52px; for smaller btn
  width: 52px; */
}
.add {
	position: relative;
	left: -20px;
}
.singleplayer-btn {
	background: var(--s-light);
	color: var(--s-dark);
	border-radius: 10px;
	border: none;
	padding: 1rem;
	cursor: pointer;
	height: auto;
	width: auto;
	font-size: 2rem;
}
.multiplayer-btn {
	background: var(--s-dark);
	color: var(--s-light);
	border-radius: 10px;
	border: none;
	padding: 1rem;
	font-size: 2rem;
	cursor: pointer;
}

.std-btn {
	background: var(--s-dark);
	color: var(--s-light);
	border-radius: 10px;
	border: none;
	padding: 1rem;
	font-size: 2rem;
	cursor: pointer;
}
