$borderRadius: 10px;
$spacer: 1rem;
$primary: #406ff3;
$text: #6a778e;
$linkHeight: 3rem;
$timing: 250ms;
$transition: $timing ease all;

@mixin gooeyEffect($i) {
  @keyframes gooeyEffect-#{$i} {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(0.5, 1.5);
    }
    100% {
      transform: scale(1, 1);
    }
  }
}
.navbar {
  z-index: 100;
  $ref: &;
  position: fixed;
  background: var(--s-dark);
  border-radius: $borderRadius;
  // box-shadow: 0 0 40px rgba(255, 255, 255, 0.103);
  top: $spacer;
  color: white;
  width: 90vw;
  &__link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: $linkHeight;
    width: $linkHeight;
    color: $text;
    transition: $transition;
    cursor: pointer;
    span {
      position: absolute;
      top: 120%;
      transform: translate(-($spacer * 3));
      opacity: 0;
      pointer-events: none;
      color: whitesmoke;
      background: #242629;
      padding: $spacer * 0.75;
      transition: $transition;
      border-radius: $borderRadius * 1.75;
    }
    &:hover {
      color: white;
    }
    .navbar:not(:hover) &:focus,
    &:hover {
      span {
        opacity: 1;
        transform: translate(0);
      }
    }
  }
  &__menu {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
  }
}
