.wordHighlight {
    color: var(--s-light);
}

.podium {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.podiumGridItem {
    width: fit-content;
    padding: 2vh;
}

.podiumGridLetter {
    text-transform: uppercase;
}

.podium p {
    font-size: 3vh;
}

.gridLetter {
    font-size: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
}