.Game-keyboard {
  display: flex;
  flex-direction: column;
  border: 1px solid #272935;
  box-shadow: inset 0px 5px 5px 0px #15171d,
    inset 5px 0px 5px 0px #15171d, inset -5px 5px 5px 0px #15171d,
    inset 0px -5px 5px 0px #15171d;
  padding: 1vh;
  border-radius: 12px;
}

.Game-keyboard-row {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}

.Game-keyboard-button {
  margin: 2px;
  background-color: var(--keyboard-key-colour);
  padding: 2px;
  text-transform: capitalize;
  border-radius: 4px;
  height: 58px;
  width: 45px;
  min-height: 40px;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: inherit;
  text-decoration: inherit;
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  box-shadow: 0 1px 2px 1px #000, inset 0 1px 1px 0 #666;
  cursor: pointer;
  outline: none;
  user-select: none;
  border: 0;
}

.Game-keyboard-button-wide {
  flex: 2;
}

.Game-keyboard-button:focus {
  outline: none;
}

.Game-keyboard-button:active {
  box-shadow: inset 0 1px 2px 0 #000, 0 1px 1px 0 #666;
}

.letter-correct {
  border-radius: 3vh;
  background: linear-gradient(135deg, #189d7c 0%, #02c39a 100%) padding-box,
    /* this is the background */
      linear-gradient(135deg, #02c39a 0%, #189d7c 100%) border-box !important; /* this is the border*/
  border: 6px solid transparent;
  color: #1d6b55;
}

.letter-elsewhere {
  border-radius: 3vh;
  background: linear-gradient(135deg, #d9b952 0%, #fdd85d 100%) padding-box,
    /* this is the background */
      linear-gradient(135deg, #fdd85d 0%, #d9b952 100%) border-box !important; /* this is the border*/
  border: 6px solid transparent;
  color: #837035;
}

.letter-absent {
  border-radius: 3vh;
  background: linear-gradient(135deg, #2d3047 0%, #48495f 100%) padding-box,
    /* this is the background */
      linear-gradient(135deg, #48495f 0%, #2d3047 100%) border-box !important; /* this is the border*/
  border: 6px solid transparent;
  color: #a3a3ae;
}
